{port_specs, [
   {"../../priv/hqueue.so", ["hqueue*.c"]}
]}.


{port_env, [
   {"(linux|solaris|darwin|freebsd)", "CFLAGS", "$CFLAGS -g -Wall -Werror -DHQ_ENIF_ALLOC -O3"},
   {"win32", "CFLAGS", "$CFLAGS /O2 /DNDEBUG /DHQ_ENIF_ALLOC /Dinline=__inline /Wall"}
   %% {".*", "CFLAGS", "$CFLAGS -g -Wall -Werror -Wextra"}
]}.



